<!-- begin date and location information -->
{% if page.event == true %}
<div class="listfeaturedtag">
    <div class="eventtime">
        {% if page.eventdate %}
        <h4 class="card-text"><a href="https://www.timeanddate.com/worldclock/meetingdetails.html?year={{ page.eventdate | date:"%Y" }}&month={{ page.eventdate | date:"%m" }}&day={{ page.eventdate | date:"%d" }}&hour={{ page.eventstartUTC | truncate: 2, "" }}&min=0&sec=0&p1=137&p2=75&p3=179&p4=136&p5=195&p6=53&p7=771&p8=196&p9=240&p10=264">{{ page.eventdate | date: "%B %e, %Y"}}.
            {% if page.eventstartUTC %} {{ page.eventstartUTC }}
            {% if page.eventendUTC %}-{{ page.eventendUTC }} UTC
            {% endif %}
            {% endif %}</a>
        </h4>
        {% endif %}
    </div>
    {% if page.DOI %}
    <div class="DOI">
        DOI for recording/slides/etc. <a href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a>
        {% else %}
        {% if page.zoomlink %}
        <div class="eventlocation">
        <h4 class="card-text"><a href="{{ page.zoomlink }}">Link to register</a></h4>
    </div>
        {% endif %}
        {% if page.ics %}
        <div class="eventlocation">
        <h4 class="card-text"><a href="{{ page.ics }}">Add to calendar (.ics download/subscribe)</a></h4>
    </div>
        {% endif %}
    </div>
{% endif %}
{% endif %}
