<!-- begin date and location information -->
{% if page.event == true %}
<div class="eventtime col-md-6 mb-30px card-group">
        {% if page.eventdate %
        <h4 class="card-text"><a href="https://www.timeanddate.com/worldclock/meetingdetails.html?year={{ page.eventdate | date:"%Y" }}&month={{ page.eventdate | date:"%m" }}&day={{ page.eventdate | date:"%d" }}&hour={{ page.eventstartUTC | date:"%H" }}&min=0&sec=0&p1=137&p2=75&p3=179&p4=136&p5=195&p6=53&p7=771&p8=196&p9=240&p10=264">{{ page.eventdate | date: "%B %e, %Y"}}.
            {% if page.eventstartUTC %} {{ page.eventstartUTC }}
            {% if page.eventendUTC %}-{{ page.eventendUTC }} UTC
            {% endif %}
            {% endif %}</a>
        </h4>
        {% endif %}
    </div>
    <div class="eventlocation">
        {% if page.zoomlink %}
        <h4 class="card-text"><a href="{{ page.zoomlink }}">Registration</a>.</h4>
        {% endif %}
    </div>
    <div class="eventlocation">
        {% if page.ics %}
        <h4 class="card-text"><a href="{{ page.ics }}">Add to calendar (download/subscribe)</a>.</h4>
        {% endif %}
    </div>
{% endif %}
